/* Стиль виділення тексту */
::selection {
	background-color: var(--accent); /* Акцентний колір */
	color: var(--white); /* Білий текст */
	text-shadow: none;
}

/* WebKit-браузери (Chrome, Safari) */
::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

::-webkit-scrollbar-track {
	background: var(--bg25);
	border-radius: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--accent75);
	border-radius: 8px;
	border: 3px solid var(--bg25);
	transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--accent-light);
}

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--accent75) var(--bg25);
}

@media (orientation: portrait) {
	:root {
		font-size: 16px;
	}
}
@media (orientation: landscape) {
	:root {
		font-size: 16px;
	}
}

body {
	color: var(--text-main);
	background: var(--dark-green);
	position: relative;
	/* overflow: hidden; */
}

@keyframes lightningSwing {
  0% {
    transform: translate(-50%, 0%) scale(1.5);
    opacity: 0.5;
  }
  20% {
    opacity: 1;
  }
  50% {
    transform: translate(calc(100vw - 50%), calc(-100%)) scale(1);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 0%) scale(1.5);
    opacity: 0.5;
  }
}

body::before {
	position: fixed;
	background: linear-gradient(235deg, var(--accent33), transparent);
	border-radius: 50%;
	filter: blur(6vmin) brightness(1.5);
	animation: lightningSwing 24s ease-in-out infinite alternate;
	-webkit-filter: blur(5rem) brightness(1.5);
}

body::before,
body::after {
	content: '';
	width: 100%;
	height: 100%;
	inset: 0;
	left: 0;
	bottom: 0;
	z-index: 0;
	pointer-events: none;
}

body::after {
	position: absolute;
	background-image:     url('/apple-icon.png'),    url('/apple-icon.png');
	background-repeat: repeat-y, repeat-y;
	background-size: 75vmin, 150vmin;
	background-position:    calc(100% + 25vmin) 0%,    -50vmin 75vmin;
	background-attachment: scroll;
	opacity: 0.05;
	filter: blur(1vmin);
	-webkit-filter: blur(1vmin);
}

@media (orientation: portrait) {
	body::after {
		background-size: 33vmin, 66vmin;
		background-position:
			calc(100% + 10vmin) 0%,
			-21vmin 75vmin;
	}
}


section:not(.hero-section) > *,
footer {
	position: relative;
	z-index: 1;
}

a {
	padding: 0.5em !important;
}

.logo-image,
.logo span,
.logo em,
.logo strong,
.hero-section a,
.hero-section .moto {
	filter: drop-shadow(0 0 0.075em var(--bg));
	-webkit-filter: drop-shadow(0 0 0.075em var(--bg));
}

.hero-section .brand svg {
	filter: drop-shadow(0 0 0.75rem var(--bg66));
	-webkit-filter: drop-shadow(0 0 0.75rem var(--bg66));
}

.testimonial-slider .testimonial-content .author-photo {
	/* filter: drop-shadow(0 0 0.5rem var(--bg));
	-webkit-filter: drop-shadow(0 0 0.5rem var(--bg)); */
	box-shadow: 0 0 1rem .25rem var(--bg50);
}

h2:not(.coop-heading, .cases-heading, .testimonials-heading) {
	padding-bottom: 3rem;
}

main section:not(
		:first-of-type,
		.services-section,
		.why-us-section,
		.cases-section
	) {
	padding-block: 5rem;
}

main section:first-of-type {
	padding-bottom: 2rem;
}

footer,
.services-section {
	padding-block: 2rem;
}

.why-us-section {
	padding-block: 5rem;
}

.cases-section {
	padding-block: 0;
}

@media (max-width: 1440px) {
	section:not(.hero-section),
	footer h2 {
		padding-inline: 1.5rem;
	}

	h2 {
		font-size: 3rem;
	}
}
