.glow-on-hover {
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

.glow-on-hover:hover {
  filter: drop-shadow(0 0 0.15rem var(--accent75)) contrast(1.15) brightness(1.15);
  -webkit-filter: drop-shadow(0 0 0.15rem var(--accent75)) contrast(1.15) brightness(1.15);
}

.grid-four {
  display: grid;
  gap: 1rem;
  margin: 0 auto;
}

@media (orientation: landscape) , (min-width: 1280px) {
  .grid-four {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 720px) and (max-width: 1279px) {
  .grid-four {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 719px) {
  .grid-four {}
}

.accent {
  color: var(--accent);
}

.brown-deep {
  color: var(--brown-deep);
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}